@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: theme("colors.neutral.700");
  --bg-color: theme("colors.white");
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", serif;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
  margin: 0;
  min-height: 100vh;
}
